.high-contrast,
.high-contrast .news-item {
  color: #FFF;
  background-color: #000;
}
.high-contrast .glyphicon {
  color: #FFF;
}
.high-contrast .panel-default>.panel-heading {
  color: #FFF;
  background-image: linear-gradient(to bottom,#494949 0,#2A2A2A 100%);
}

.high-contrast .btn-primary {
  background-image: linear-gradient(to bottom,#D9A577 0,#CC8548 100%);
  background-color: #CC8548;
  border-color: #DBAA7F;
  color: #000;
}
