/* Styles from Twitter Bootstrap theme */
body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.skip-link {
    text-align: center;
}

/* Add a focus state for .sr-only for skip links */
.sr-only:active,
.sr-only:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto
}

/* Only cancel outline on main div since user doesn't need to see :focus */
#main[tabindex="-1"]:focus {
    outline: 0;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

/* NewsForBetty */
body, .fontMed {
    font-size: 2em;
}
.fontLarge {
    font-size: 2.5em;
}
.fontLarge [role=main] .btn {
    font-size: 1em;
}
.fontSmall {
    font-size: 1.5em;
}
.fontSmall [role=main] .btn {
    font-size: 0.9em;
}
.navbar-brand, .navbar-right {
    height: 64px;
    padding: 8px 16px;
}
.navbar-brand img, .navbar-right img {
    height: 48px;
}
.navbar-right img {
    margin: 0 16px;
}
.news-item {
    clear: both;
}
#news img[border="0"], #news br {
    display: none;
}
#news .img-thumbnail {
    float: left;
    margin-right: 1em;
}
.read-more {
    text-align: right;
}
#sources button {
    margin-bottom:5px;
}

@media (min-width: 560px) {
  .navbar-nav {
    margin: 0;
  }
  .navbar-right > li {
    float: left;
  }
  .navbar-right {
    float: right;
  }
}
@media (max-width: 560px) {
    .navbar-right {
        display: none;
    }
}
