/* Styles from Twitter Bootstrap theme */
body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.skip-link {
    text-align: center;
}

/* Add a focus state for .sr-only for skip links */
.sr-only:active,
.sr-only:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto
}

/* Only cancel outline on main div since user doesn't need to see :focus */
#main[tabindex="-1"]:focus {
    outline: 0;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

/* NewsForBetty */
body,
.fontMed {
    font-size: 2em;
}
.fontLarge {
    font-size: 2.5em;
}
.fontLarge [role=main] .btn {
    font-size: 1em;
}
.fontSmall {
    font-size: 1.5em;
}
.fontSmall [role=main] .btn {
    font-size: 0.9em;
}
.navbar-brand,
.navbar-right {
    height: 64px;
    padding: 8px 16px;
}
.navbar-brand img,
.navbar-right img {
    height: 48px;
}
.navbar-right img {
    margin: 0 16px;
}
.news-item {
    clear: both;
}
#news img[border="0"],
#news br {
    display: none;
}
#news .img-thumbnail {
    float: left;
    margin-right: 1em;
}
.read-more {
    text-align: right;
}
#sources button,
#categories button {
    margin-bottom: 8px;
    margin-right: 8px;
}
#toggleContrast {
  margin-left: 8px;
}

/* High contrast styles */
.high-contrast,
.high-contrast .news-item {
    color: #FFF;
    background-color: #111;
}
.high-contrast .panel-default>.panel-heading {
    color: #FFF;
    background-color: #2A2A2A;
    background-image: linear-gradient(to bottom,#494949 0,#2A2A2A 100%);
}
.high-contrast .btn-primary {
    background-color: #CC8548;
    background-image: linear-gradient(to bottom,#D9A577 0,#CC8548 100%);
    border-color: #DBAA7F;
    color: #111;
}

.logo-small {
    display: none;
}

/* Media queries */
@media (max-width: 640px) {
    .logo-large {
        display: none;
    }
    .logo-small {
        display: block;
    }
}
    .navbar-nav {
        margin: 0;
    }
    .navbar-right > li {
        float: left;
    }
    .navbar-right {
        float: right;
    }
@media (max-width: 388px) {
    .logo-small {
        display: none;
    }
}
