/* Styles from Twitter Bootstrap theme */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/* NewsForBetty */
body {
    font-size: 2em;
}
.fontLarge {
    font-size: 2.5em;
}
.fontLarge [role=main] .btn {
    font-size: 1em;
}
.fontSmall {
    font-size: 1.5em;
}
.fontSmall [role=main] .btn {
    font-size: 0.9em;
}
.navbar-brand, .navbar-right {
    height: 64px;
    padding: 8px 16px;
}
.navbar-brand img, .navbar-right img {
    height: 48px;
}
.navbar-right img {
    margin: 0 16px;
}
.news-item {
    clear: both;
}
#news img[border="0"], #news br {
    display: none;
}
#news .img-thumbnail {
    float: left;
    margin-right: 1em;
}
.read-more {
    text-align: right;
}
